PORT=5000
FLASK_DEBUG=True
SECRET_KEY=focussync-secret-key-super-secure-2026

# MySQL Configuration
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=focussync_user
MYSQL_PASSWORD=focussync_password
MYSQL_DB=focussync_db
